:root{
    --color-:white;
}
body{
    background: #0b131e;
    color: var(--color-);
}
.back-img{
position: fixed;
width: 100%;
height: 100%;
filter: blur(10px);
z-index: -1;
}
.cont{
    display: block;
    margin: 30px auto;
    max-width: 1000px;
}
.tcont{
    padding: 50px;
}
.scont{
    padding: 20px;
    background: #202b3b;
    color: #9399a2;
    border-radius: 20px;
}
input{
    background: #202b3b;
    color: white;
    width: 500px;
    border-radius: 5px;
    padding: 5px;
    border: none;
}
input:focus{
    outline: none;
}
.btn.btn-primary{
    padding: 5px;
    border-radius: 10px;
}
.sbar{
    display: flex;
    margin: 0 auto;
    padding: 5px;
    width: 553px;
    background: #202b3b;
    border-radius: 10px;
}
.city{
    font-size: 40px;
    font-weight: 700;
    margin-top: 30px;
}
.country{
    font-size: 20px;
    margin-bottom: 30px;
}
.temprature{
    font-size: 70px;
    font-weight: 200;
}
.temp-line{
    font-weight: 600;
}
.rain{
    font-size: 14px;
    font-weight: 100;
}
.icn{
    width: 150px;
    height: 150px;
}
.d-flex.temp{
    justify-content:space-between;
}
.d-flex.small{
    justify-content:space-around;
    margin: 30px;
}
.shead{
    font-size: 14px;
}
.sval{
    font-size: 35px;
    font-weight: 800;
}
.b{
    width: 200px;
}
.font-weight-heavy{
    font-weight: 800;
}